html,
body,
#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toolbar {
  background: rgba(42, 42, 42, 0.8);
  position: fixed;
  border-radius: 4px;
  color: white;
}

#menu-button {
  display: block;
  position: absolute;
  top: 7px;
  left: 8px;
  width: 32px;
  height: 32px;
  font-size: 20;
  margin: 0;
  padding: 0;
  z-index: 2;
}

#options {
  display: none;
  top: 44px;
  left: 8px;
  width: 260px;
  font-size: large;
  padding: 20px;
  max-width: calc(100vw - 16px);
  max-height: calc(100vh - 51px);
  z-index: 1;
}

.custom-switch {
  user-select: none;
}

input[disabled] + label.custom-control-label {
  color: rgb(207, 207, 207) !important;
}

.rows button {
  display: block;
  position: relative;
  width: 90%;
  margin: 10px;
}

#buttons-entry-point {
  max-height: 40vh;
  overflow-y: scroll;
}

#progress-bar {
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30vw;
  background-color: grey;
}
#bar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#fps-counter {
  bottom: 40px;
  right: 10px;
  width: 100px;
  padding-left: 10px;
  color: red;
  font-size: large;
  user-select: none;
}
